
        body{
            background: skyblue
        }

        *{
            box-sizing: border-box;
        }

        .wrapper{
            width: 400px;
            margin: 100px;
            height: auto;
            background: black;
            padding: 15px;
        }

        #display{
            width: 100%;
            padding: 10px;
            font-size: 22px;
            font-weight: bold;
            margin-top: 10px;
            border-radius: 5px;
        }

        input[type=button]{
            width: 89px;
            padding: 10px;
            font-size: 22px;
            font-weight: bold;
            border-radius: 5px;
        }
        
        #num{
            color: green;
        }

        #del{
            width: 74%;
            color: red;
        }

        #equal{
            color: orange;
        }